/** HTML Tag Styles **/

html {
  background-color: #EADBC8;
  color: #0F2C59;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: #DAC0A3;
  border: 1px solid #F8F0E5;
}

input {
  background-color: #F8F0E5;
  border: none;
}

/** If a user inputs an invalid input value put a red border around the input**/
input:user-invalid {
  border: 1px solid red;
}

header {
  background-color: #DAC0A3;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #0F2C59;
}


a:link {
  color:#0F2C59;
}

a:visited {
  color: #0F2C59;
}

a:hover {
  color: #F8F0E5;
}

a:active {
  color: #F8F0E5;
}

/** End of Section **/

/** Sitewide Styles **/

.login-register-area, .transaction-form-area {
  background-color: #DAC0A3;
  max-width: fit-content;
  margin: 50px auto;
  border: 1px solid #0F2C59;
  border-radius: 10px;
}

.login-register-form, .transaction-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  gap: 12px;
}

.login-register-label, .new-transaction-label, .update-transaction-label {
  text-align: center;
  font-size: 30px;
  margin: 50px auto 0;
}

.form-button {
  background-color: #F8F0E5;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 2;
}

/** End of Section **/

/** Homepage Styles **/

#transaction-page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  gap: 40px;
}

#left-box {
  max-width: 70%;
  min-width: 70%;
}

#transactions {
  background-color: #F8F0E5;
  max-height: 30vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #0F2C59;
  overflow-y: scroll;
}

#transactions>* {
  border-bottom: 1px solid #0F2C59;
}

#transactions:last-child {
  border-bottom: none;
}

#transactions-total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#transactions-total>* {
  background-color: #F8F0E5;
  border-radius: 10px;
  padding: 10px;
}

.transaction-form-area {
  margin-top: 0;
  margin-bottom: 0;
}

#right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

/** A label informing the user that something is wrong **/
.warning-label {
  color: red;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.transaction {
  display: flex;
  flex-direction: row;
}

#text-portion {
  max-width: 90%;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
}

#button-portion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#update-button, #delete-button, #signout-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

#signout-button {
  background-color:#F8F0E5;
  margin-bottom: 5px;
}

#transaction-name {
  font-weight: bold;
}

#description-label {
  font-style: italic;
}

/** End of Section**/